*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 20px;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 600px;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
}

.black{
    height: 30px;
    margin-top: 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
}



.white{
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px solid black;
    display: none;
}

@media (min-width:700px) {
    main{
        width: 900px;
    }

    .per div{
        width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 20px;
    }

    .white{
        max-width: 500px;
    }
}
