*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

#posi{
    position: relative;
    height: 100%;
    background-color: rgb(251, 251, 135);
    overflow: hidden;
}

#popup{
    position: absolute;
    bottom: 10px;
    right: 0;
    min-height: 200px;
    width: 180px;  
    background-color: rgb(90, 89, 89); 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    transform: translateY(50vh);
    animation: slidDown 1.5s ease-in-out forwards;
}

@keyframes slidDown {
    to {
        transform: translateX(0);
    }    
}

h1{
    color: rgb(248, 248, 248);
}

#popup img{
    height: 40px;
    margin: 25px 0px;
    border-radius: 20px;
    
}

#cookidiv{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#cookidiv button{
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: larger;
    cursor: pointer;
    padding: 5px 20px;
}

#disc{
    display: flex;
    flex-direction: column;
}

#disc p {
    font-size: 20px;
    color: white;

}

#disc button {
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
